.item {
    background-color: #fff;

    padding: 1rem;

    width: 21rem;

    display: flex;

    justify-content: space-between;

    border-radius: 1rem;

    .text {
        max-width: 6.75rem;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 600;
    }

    img {
        width: 6.25rem;
        height: 6.25rem;
    }
}