:host {
    z-index: 1000;
}

.header {
    width: 100vw;
    height: 6.25rem;
    // background-color: rgb(var(--os-light-color));

    display: flex;

    align-items: center;
    justify-content: space-between;

    position: fixed;
    // z-index: 100;
}