<div class="content-wrapper">
  <div class="content-wrapper__header-content">
    <div class="content-wrapper__header-content__title">ABOUT US</div>
    <div class="content-wrapper__header-content__text">{{this.description}}</div>
  </div>
  <div class="content-wrapper__main-content">
    <div class="content-wrapper__main-content__title">
      <div class="content-wrapper__main-content__title__horizontal-line"></div>
        <div class="content-wrapper__main-content__title__name">OUR TEAM</div>
      <div class="content-wrapper__main-content__title__horizontal-line"></div>
    </div>
    <ng-container class="content-wrapper__main-content__items" *ngFor="let teammate of this.team">
      <div class="content-wrapper__main-content__items__item">
        <div class="content-wrapper__main-content__items__item__icon">
          <!--<img class="content-wrapper__main-content__items__item__icon__image"
               alt="{{teammate.fullName}}"
               [src]="this.imageService.getImage(teammate.imgName!, 'png')"
          />-->
          <div class="content-wrapper__main-content__items__item__icon__image"></div>
          <div class="content-wrapper__main-content__items__item__icon__description">
            {{teammate.fullName}}
          </div>
        </div>
        <div class="content-wrapper__main-content__items__item__description">
          {{teammate.description}}
        </div>
      </div>
    </ng-container>
  </div>

</div>
