.content-wrapper {
  padding: 10em;
  color: #3C220F /*rgb(var(--os-font-color))*/;

  &__header-content {
    text-align: center;

    &__title {
      font-weight: bold;
      font-size: 6rem;
    }

    &__text {
      max-width: 110vh;
      margin: auto;
      padding-top: 3em;
      font-size: 2.25rem;
    }
  }

  &__main-content{
    padding-top: 12em;

    &__title {
      display: flex;

      &__name {
        text-align: center;
        width: 100%;

        font-weight: bold;
        font-size: 4rem;
      }

      &__horizontal-line {
        align-self: center;
        width: 100%;
        height: 0.2vh;
        background-color: #3C220F /*rgb(var(--os-font-color))*/;
      }

    }

    &__items {

      &__item {
        padding: 0 2.5em 0 2.5em;
        margin-top: 2.5em;
        margin-bottom: 6.5em;
        display: flex;
        border-bottom: solid 0.2vh;

        &__icon{
          width: 45vh;
          height: 70vh;
          align-items: center;
          padding-right: 4em;

          &__image {
            width: 45vh;
            height: 60vh;
            background-color: lightgrey;

          }

          &__description {
            padding-top: 0.5em;
            text-align: center;

            font-weight: bolder;
            font-size: 2rem;
          }

        }

        &__description {
          align-self: auto;
          padding-top: 2em;
          font-weight: normal;
          font-size: 2.25rem;
        }

      }

    }
  }
}
