<app-header>
  <div class="content">
    <app-logo [logo]="logo" routerLink="main"></app-logo>
    <div class="links">
      <span class="link" routerLink="aboutUs">About us</span>
      <span class="link" routerLink="firstSteps">First steps</span>
      <span class="link" routerLink="knowledgeBase">Knowledge base</span>
      <span class="link" routerLink="generatePicture">Generate picture</span>
      <app-theme-switcher></app-theme-switcher>
    </div>
  </div>
</app-header>
<router-outlet></router-outlet>