:root {
    --os-background-color: 255, 255, 255;
    --os-theme-color: 55, 55, 55;

    --os-primary-color: 230, 118, 39;
    --os-secondary-color: 255, 255, 255; // buttons, etc

    --degree-gradient: 102.56deg;
    --os-fromGradient-color: 254, 144, 65;
    --os-toGradient-color: 232, 122, 42;
    --os-degreeGradient-color: 102.56deg;
}
