<div class="content-wrapper">

  <div class="content-wrapper__picture-info">

    <div class="content-wrapper__picture-info__container">
      <figure class="content-wrapper__picture-info__container__figure">
        <img
          alt="testPicture"
          [src]="imgService.getImage(testPicture.name , 'png')"
          class="content-wrapper__picture-info__container__figure__image"
        >
      </figure>
    </div>
  </div>

  <div class="content-wrapper__subscription">

    <div class="content-wrapper__subscription__name-author">{{testPicture.name}}</div>

    <div class="content-wrapper__subscription__menu-actions">

      <button (click)="showActions()" class="content-wrapper__subscription__menu-actions__button">
        <div class="content-wrapper__subscription__menu-actions__button__circle"></div>
        <div class="content-wrapper__subscription__menu-actions__button__circle"></div>
        <div class="content-wrapper__subscription__menu-actions__button__circle"></div>
      </button>

      <div *ngIf="isShowingActions" class="content-wrapper__subscription__menu-actions__actions">
        <ng-container
          *ngFor="let action of this.getActions()"
          class="content-wrapper__subscription__menu-actions__actions__action">

          <button class="content-wrapper__subscription__menu-actions__actions__action__button">
            {{action}}
          </button>

        </ng-container>
      </div>
    </div>

  </div>

  <div class="content-wrapper__picture-description">
    <span class="content-wrapper__picture-description__text">
      {{testPicture.description}}
    </span>
  </div>

</div>
