.logo {
    width: 6rem;
    height: 6rem;
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    align-items: center;

    .image {
        width: inherit;
        height: inherit;
    }

    .title {
        font-weight: bold;
        font-size: 3.5rem;
        color: #fff;
        margin-left: 10px;
    }
}