@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Montserrat:wght@200;400&family=Oswald:wght@300&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300&display=swap');

* {
    font-size: 1rem;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}